<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Google Tools App</title>

    <!-- Styles for datatable -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" crossorigin="anonymous" />

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet" />
    <link href="/static/css/mystyles.css" rel="stylesheet" />

    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script> -->

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Google Drive Tools</div>
        <div class="list-group list-group-flush">
          <a href="{{ url_for('list_drive_files') }}" class="list-group-item list-group-item-action bg-light">Recent 500 files</a>
          <a href="{{ url_for('search_drive_files') }}" class="list-group-item list-group-item-action bg-light">Find files within 6 months</a>
          <a href="/display_form/document" class="list-group-item list-group-item-action bg-light">My Google Docs</a>
          <a href="/display_form/drawing" class="list-group-item list-group-item-action bg-light">My Google Drawings</a>
          <a href="/display_form/folder" class="list-group-item list-group-item-action bg-light">My Google Folders</a>
          <a href="/display_form/form" class="list-group-item list-group-item-action bg-light">My Google Forms</a>
          <a href="/display_form/map" class="list-group-item list-group-item-action bg-light">My Google Maps</a>          
          <a href="/display_form_photos"" class="list-group-item list-group-item-action bg-light">My Google Photos</a>
          <a href="/display_form/script" class="list-group-item list-group-item-action bg-light">My Google Scripts</a>
          <a href="/display_form/spreadsheet" class="list-group-item list-group-item-action bg-light">My Google Sheets</a>
          <a href="/display_form/site" class="list-group-item list-group-item-action bg-light">My Google Sites</a>
          <a href="/display_form/slide" class="list-group-item list-group-item-action bg-light">My Google Slides</a>
          <a href="/display_form/pdf" class="list-group-item list-group-item-action bg-light">My PDF Files</a>
          <a href="/display_form/other" class="list-group-item list-group-item-action bg-light">My Other Files</a>


        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="c sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Dropdown
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container" name="messages">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
          <div  class="text-center alert alert-{{ category }}" alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %}
        </div>
        <div class="container-fluid">
          <div name="heading" class="mt-2" style="display:flex; align-items:flex-end" >
          <div><img src="/static/img/logo.png" style="width:60px"></div> <div class="h1 ml-2 mt-4 mb-2" >Google Drive Tools</div> </div>
          <p class="mt-2">
            Retrieve your files from Google Drive or Google Photos.
            <hr>
          </p>

          {% block content %} {% endblock %}
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>
</html>
