{% extends "base.html" %} {% block content %}
<style>
    .checkbox-1x {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
      }
      td:hover {
        background-color: #e0ffff !important;
      }
</style>
<script src="/static/js/my_scripts.js"></script>
<div name="list_files">
  <h2 class="mt-4 mb-2">Retrieved {{media_files|length}} Photos</h2>
  <input type = "checkbox" onclick="toggle(this)" class="checkbox-1x mr-2"> Select All <br>
  <a href='#' role="button" class="btn btn-secondary mb-3" onclick="download_selected()">Download Selected</a>
    <table id="myTable" class="table w-auto table-responsive" style="border: 0px red solid; display:block; ">
      <thead>
      </thead>
      <tbody>
        <tr>
        {%for n in range(media_files | length)%}
     
          <td style="display: inline-block; vertical-align:top; "><a target="_blank"  href="{{media_files[n]['productUrl']}}"> <img src = "{{media_files[n]['baseUrl']}}=w200-h133"></a>
            <div name="photo_details" class="small">
          <div class="text-wrap" ><a name="filenames" id="{{media_files[n]['filename']}}" target="_blank" style="color:black" href="{{media_files[n]['productUrl']}}">{{media_files[n]['filename']}} </a></div>
          <div>
            <script>
              var date = "{{media_files[n]['mediaMetadata']['creationTime']}}";
              document.write(convert_date_no_time(date));
            </script>
          </div>
          <!--td class="text-center"> <input name="download_checkbox" id="{{media_files[n]['baseUrl']}}" type="checkbox" class="checkbox-1x mr-4" onclick='download_photo("{{media_files[n]['baseUrl']}}","{{media_files[n]['filename']}}")' /></td-->

          <div> <input name="download_checkbox" id="{{media_files[n]['baseUrl']}}" type="checkbox" class="checkbox-1x mr-2" />Download</div> </div></td> 
      
        {%endfor%}
      </tr>
      </tbody>
    </table>
    <!--script>
      $("#myTable").DataTable({
        pageLength: 100,
        filter: true,
        deferRender: true,
        //scrollY: 1200,
        scrollCollapse: true,
        scroller: true,
        //ordering: true,
        //select: true,
        //bSort: true,
        //order: [[1, "desc"]],
      });
    </script-->
  </div>
  {% endblock %}
</div>
