{% extends "base.html" %} {% block content %}
<script src="/static/js/my_scripts.js"></script>
<div name="list_files">
  <h2 class="mt-4 mb-2">Found {{results|length}} files</h2>
  <div class="table-responsive">
    <table id="myTable" class="table w-auto table-striped table-hover table-bordered table-responsive" style="border: 0px red solid">
      <thead>
        <th>Parents</th>
        <th>Name</th>
        <th>Type</th>
        <th>Date Modified</th>
      </thead>
      <tbody>
        {%for n in range(results | length)%}
        <tr>
          <td class="text-wrap" style="max-width: 340px; word-wrap: break-word">{{results[n].parents}}</td>
          <td class="text-wrap" style="max-width: 340px; word-wrap: break-word"><a target="_blank" style="color:black" href="{{results[n].webViewLink}}">{{results[n].name}} </a></td>
          <td class="text-wrap" style="max-width: 340px; word-wrap: break-word">
            <script>
              document.write("{{results[n].mimeType}}".replace("application/vnd.google-apps.", ""));
            </script>
          </td>
          <td class="text-nowrap">
            <script>
              var date = "{{results[n].modifiedByMeTime}}";
              document.write(convert_date(date));
            </script>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
</div>
    <script>
      $("#myTable").DataTable({
        pageLength: 100,
        filter: true,
        deferRender: true,
        //scrollY: 1200,
        scrollCollapse: true,
        scroller: true,
        //ordering: true,
        select: true,
        bSort: true,
        order: [[3, "desc"]],
      });
    </script>
  </div>
  {% endblock %}
</div>
